<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yxtc.framework.platform.mapper.framework.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.yxtc.framework.platform.pojo.framework.UserInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="userid" property="userid" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="usertype" property="usertype" jdbcType="VARCHAR"/>
        <result column="usertypename" property="usertypename" jdbcType="VARCHAR"/>
        <result column="companyid" property="companyid" jdbcType="VARCHAR"/>
        <result column="companyname" property="companyname" jdbcType="VARCHAR"/>
        <result column="parkid" property="parkid" jdbcType="VARCHAR"/>
        <result column="parkname" property="parkname" jdbcType="VARCHAR"/>
        <result column="parkaddress" property="parkaddress" jdbcType="VARCHAR"/>
        <result column="merchantcompanyid" property="merchantcompanyid" jdbcType="VARCHAR"/>
        <result column="merchantcompanyname" property="merchantcompanyname" jdbcType="VARCHAR"/>
        <result column="merchantid" property="merchantid" jdbcType="VARCHAR"/>
        <result column="merchantname" property="merchantname" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="telphone" property="telphone" jdbcType="VARCHAR"/>
        <result column="regeisttime" property="regeisttime" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
        <result column="createpersonid" property="createpersonid" jdbcType="VARCHAR"/>
        <result column="createtime" property="createtime" jdbcType="VARCHAR"/>
        <result column="updatetime" property="updatetime" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="select" resultMap="BaseResultMap" parameterType="com.yxtc.framework.platform.pojo.framework.UserInfo">
        select
        u.id,
        userid,
        username,
        PASSWORD,
        usertype,
        pi.paramvalue as usertypename,
        u.companyid,
        companyname,
        u.merchantcompanyid,
        mc.merchantcompanyname,
        merchantid,
        mt.merchantname,
        u.parkid,
        p.parkname,
        parkaddress,
        email,
        telphone,
        regeisttime,
        u.state,
        u.createpersonid,
        u.createtime,
        u.updatetime
        from yxtc_framework_userinfo u
        inner join (select paramkey,paramvalue from yxtc_framework_paraminfo where paramtypeid='1' ) pi
        on u.usertype=pi.paramkey
        left join
        core_companyinfo c on u.companyid=c.id
        left join
        core_parkinfo p on  u.parkid=p.id
        left JOIN
        core_merchantcompanyinfo mc on u.merchantcompanyid=mc.id
        left JOIN
        core_merchantinfo mt on mt.id=u.merchantid
        where u.state='1'
        <if test="username!=null and username!=''">
            and u.username like CONCAT('%','${username}','%' )
        </if>
        <if test="userid!=null and userid!=''">
            and u.userid=#{userid}
        </if>
        <if test="password!=null and password!=''">
            and u.password=#{password}
        </if>
        <if test="email!=null and email!=''">
            and u.email like CONCAT('%','${email}','%' )
        </if>
        <if test="telphone!=null and telphone!=''">
            and u.telphone like CONCAT('%','${telphone}','%' )
        </if>
        <if test="usertype!=null and usertype!=''">
            and u.usertype =#{usertype}
        </if>
        <if test="companyid!=null and companyid!='' ">
            and u.companyid =#{companyid}
        </if>
        <if test="parkid!=null and parkid!=''">
            and u.parkid =#{parkid}
        </if>
        <if test="sord!=null and sord!='' and sidx!=null and sidx!='' ">
            order by ${sidx} ${sord}
        </if>
        <if test="startNum!=null">
            limit ${startNum},${rows}
        </if>


    </select>

    <select id="selectMaxNum" resultType="int" parameterType="com.yxtc.framework.platform.pojo.framework.UserInfo">
        select
        count(*) as total
        from yxtc_framework_userinfo u
        left join
        core_companyinfo c on u.companyid=c.id
        left join
        core_parkinfo p on u.companyid=p.companyid and u.parkid=p.id
        where u.state='1'
        <if test="username!=null and username!=''">
            and u.username like CONCAT('%','${username}','%' )
        </if>
        <if test="email!=null and email!=''">
            and u.email like CONCAT('%','${email}','%' )
        </if>
        <if test="telphone!=null and telphone!=''">
            and u.telphone like CONCAT('%','${telphone}','%' )
        </if>
        <if test="usertype!=null and usertype!=''">
            and u.usertype =#{usertype}
        </if>
        <if test="companyid!=null and companyid!='' ">
            and u.companyid =#{companyid}
        </if>
        <if test="parkid!=null and parkid!=''">
            and u.parkid =#{parkid}
        </if>

    </select>


    <delete id="deleteByPrimaryKey" parameterType="com.yxtc.framework.platform.pojo.framework.UserInfoKey">
    delete from yxtc_framework_userinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.yxtc.framework.platform.pojo.framework.UserInfo">
    insert into yxtc_framework_userinfo (id, userid, username, 
      password, usertype, companyid,parkid,
      email, telphone, regeisttime, 
      state, createpersonid, createtime,
      updatetime)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{usertype,jdbcType=VARCHAR}, #{companyid,jdbcType=VARCHAR}, #{parkid,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{telphone,jdbcType=VARCHAR}, #{regeisttime,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{createpersonid,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR},
      #{updatetime,jdbcType=VARCHAR})
  </insert>


    <insert id="insertSelective" parameterType="com.yxtc.framework.platform.pojo.framework.UserInfo">
        insert into yxtc_framework_userinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="usertype != null">
                usertype,
            </if>
            <if test="companyid != null">
                companyid,
            </if>
            <if test="parkid != null">
                parkid,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="telphone != null">
                telphone,
            </if>
            <if test="regeisttime != null">
                regeisttime,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="createpersonid != null">
                createpersonid,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="updatetime != null">
                updatetime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="userid != null">
                #{userid},
            </if>
            <if test="username != null">
                #{username},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="usertype != null">
                #{usertype},
            </if>
            <if test="companyid != null">
                #{companyid},
            </if>
            <if test="parkid != null">
                #{parkid},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="telphone != null">
                #{telphone},
            </if>
            <if test="regeisttime != null">
                #{regeisttime},
            </if>
            <if test="state != null">
                #{state},
            </if>
            <if test="createpersonid != null">
                #{createpersonid},
            </if>
            <if test="createtime != null">
                #{createtime},
            </if>
            <if test="updatetime != null">
                #{updatetime},
            </if>
        </trim>
    </insert>


    <update id="updateByPrimaryKeySelective" parameterType="com.yxtc.framework.platform.pojo.framework.UserInfo">
        update yxtc_framework_userinfo
        <set>
            <if test="userid != null">
                userid = #{userid,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="usertype != null">
                usertype = #{usertype,jdbcType=VARCHAR},
            </if>
            <if test="companyid != null">
                companyid = #{companyid,jdbcType=VARCHAR},
            </if>
            <if test="parkid != null">
                parkid = #{parkid,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="telphone != null">
                telphone = #{telphone,jdbcType=VARCHAR},
            </if>
            <if test="regeisttime != null">
                regeisttime = #{regeisttime,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="createpersonid != null">
                createpersonid = #{createpersonid,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime,jdbcType=VARCHAR},
            </if>
        </set>
        where 1=1
        <if test="id!=null">
            and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="userid!=null">
            and userid = #{userid}
        </if>
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yxtc.framework.platform.pojo.framework.UserInfo">
    update yxtc_framework_userinfo
    set
      userid = #{userid,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      usertype = #{usertype,jdbcType=VARCHAR},
      companyid = #{companid,jdbcType=VARCHAR},
      parkid = #{parkid,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      telphone = #{telphone,jdbcType=VARCHAR},
      regeisttime = #{regeisttime,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      createpersonid = #{createpersonid,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <!--获取用户角色-->
    <select id="getUserRoleMenuList" resultType="Map" parameterType="List">
        select h.id as id,h.menuid as menuid,h.menuname as menuname,h.ordernum as ordernum,h.url as url,h.pic from(
        select a.id as id,null as menuid,a.menuname,a.ordernum ,null as url,a.pic from yxtc_framework_menu a
        inner join
        (select menuid from yxtc_framework_menuright c where c.righttype='4' and c.state='1' and roleid in
        <foreach item="item" index="index" collection="roleIdList" open="(" separator="," close=")">
            #{item}
        </foreach>
        group by c.menuid ) b
        on a.id=b.menuid where a.state='1' order by a.ordernum
        )h
        union
        select d.id as id,d.menuid as menuid,d.menuinfoname as menuinfoname, ordernum,url,null as pic from
        yxtc_framework_menuinfo d where id in
        (select menuinfoid from yxtc_framework_menuright c where c.righttype='4' and c.state='1' and roleid in
        <foreach item="item" index="index" collection="roleIdList" open="(" separator="," close=")">
            #{item}
        </foreach>
        group
        by c.menuinfoid )
        and state='1' order by menuid,ordernum
    </select>

    <!--获取用户权限-->
    <select id="getUserRoleByUserId" resultType="Map" parameterType="String">
      select ur.userid,ur.roleid,r.rolename,r.add1
      from yxtc_framework_userrole ur
      inner join yxtc_framework_roleinfo r on ur.roleid=r.id
      inner join yxtc_framework_userinfo info on info.id=ur.userid
      where ur.state='1' and r.state='1' and info.userid=#{userId}
    </select>
</mapper>